// HR w/ opacity
$hr-bg-color: transparent !default;
$hr-width: 1px !default;
$hr-margin: 0.75rem 0 !default;
$hr-horizontal-bg-image-gray-light: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) !default;
$hr-bg-color-white: #ffffff !default;
$hr-bg-color-light: #ffffff94 !default;
$hr-bg-color-dark: #7b809a33 !default;
$hr-bd-color-white: #ffffff !default;
