.bg-gradient-primary {
  background-image: linear-gradient(195deg, #ec407a 0%, #d81b60 100%);
}

.bg-gradient-secondary {
  background-image: linear-gradient(195deg, #747b8a 0%, #495361 100%);
}

.bg-gradient-success {
  background-image: linear-gradient(195deg, #66bb6a 0%, #43a047 100%);
}

.bg-gradient-info {
  background-image: linear-gradient(195deg, #49a3f1 0%, #1a73e8 100%);
}

.bg-gradient-warning {
  background-image: linear-gradient(195deg, #ffa726 0%, #fb8c00 100%);
}

.bg-gradient-danger {
  background-image: linear-gradient(195deg, #ef5350 0%, #e53935 100%);
}

.bg-gradient-light {
  background-image: linear-gradient(195deg, #ebeff4 0%, #ced4da 100%);
}

.bg-gradient-dark {
  background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
}

hr.horizontal {
  background-color: transparent;
}
hr.horizontal.light {
  background-color: rgba(255, 255, 255, 0.5803921569);
}
hr.horizontal.dark {
  background-color: rgba(123, 128, 154, 0.2);
}
hr.horizontal.gray-light {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.cursor-pointer {
  cursor: pointer;
}

/* Vertical navbar + Sidenav */
.navbar-vertical .navbar-brand > img,
.navbar-vertical .navbar-brand-img {
  max-width: 100%;
  max-height: 5rem;
}
.navbar-vertical .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 300;
  color: #fff;
}
.navbar-vertical .navbar-nav .nav-link > i {
  min-width: 1.8rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}
.navbar-vertical .navbar-nav .nav-link .dropdown-menu {
  border: none;
}
.navbar-vertical .navbar-nav .nav-link .dropdown-menu .dropdown-menu {
  margin-left: 0.5rem;
}
.navbar-vertical .navbar-nav .nav-link .avatar {
  width: 1.875rem;
  height: 1.875rem;
}
.navbar-vertical .navbar-nav .nav-sm .nav-link {
  font-size: 0.8125rem;
}
.navbar-vertical .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.navbar-vertical .navbar-heading {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
.navbar-vertical.navbar-expand-xs {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 15.625rem !important;
  overflow-y: auto;
  padding: 0;
  box-shadow: none;
}
.navbar-vertical.navbar-expand-xs .navbar-collapse {
  display: block;
  overflow: auto;
  height: calc(100vh - 360px);
}
.navbar-vertical.navbar-expand-xs > [class*=container] {
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
  padding-left: 0;
  padding-right: 0;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .navbar-vertical.navbar-expand-xs > [class*=container] {
    min-height: none;
    height: 100%;
  }
}
.navbar-vertical.navbar-expand-xs.fixed-start {
  left: 0;
}
.navbar-vertical.navbar-expand-xs.fixed-end {
  right: 0;
}
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin: 0 1rem;
  margin-bottom: 1.5px;
}
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .nav-link-text,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .sidenav-mini-icon,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .sidenav-normal,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link i {
  pointer-events: none;
}
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-item {
  width: 100%;
}
.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item {
  margin-top: 0.125rem;
}
.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item .icon .ni {
  top: 0;
}
.navbar-vertical.navbar-expand-xs .lavalamp-object {
  width: calc(100% - 1rem) !important;
  background: theme-color("primary");
  color: color-yiq(#e91e63);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.125rem;
}
.navbar-vertical.navbar-expand-xs .navbar-nav .nav .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 15px;
}
.navbar-vertical.navbar-expand-xs .navbar-nav .nav .nav-link > span.sidenav-normal {
  transition: all 0.1s ease 0s;
}
.navbar-vertical.navbar-expand-xs .navbar-nav .nav .nav-link.active {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
@media (min-width: 576px) {
  .navbar-vertical.navbar-expand-sm {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 15.625rem !important;
    overflow-y: auto;
    padding: 0;
    box-shadow: none;
  }
  .navbar-vertical.navbar-expand-sm .navbar-collapse {
    display: block;
    overflow: auto;
    height: calc(100vh - 360px);
  }
  .navbar-vertical.navbar-expand-sm > [class*=container] {
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 576px) and (-ms-high-contrast: none), (min-width: 576px) and (-ms-high-contrast: active) {
  .navbar-vertical.navbar-expand-sm > [class*=container] {
    min-height: none;
    height: 100%;
  }
}
@media (min-width: 576px) {
  .navbar-vertical.navbar-expand-sm.fixed-start {
    left: 0;
  }
  .navbar-vertical.navbar-expand-sm.fixed-end {
    right: 0;
  }
  .navbar-vertical.navbar-expand-sm .navbar-nav .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin: 0 1rem;
    margin-bottom: 1.5px;
  }
  .navbar-vertical.navbar-expand-sm .navbar-nav .nav-link .nav-link-text,
  .navbar-vertical.navbar-expand-sm .navbar-nav .nav-link .sidenav-mini-icon,
  .navbar-vertical.navbar-expand-sm .navbar-nav .nav-link .sidenav-normal,
  .navbar-vertical.navbar-expand-sm .navbar-nav .nav-link i {
    pointer-events: none;
  }
  .navbar-vertical.navbar-expand-sm .navbar-nav .nav-item {
    width: 100%;
  }
  .navbar-vertical.navbar-expand-sm .navbar-nav > .nav-item {
    margin-top: 0.125rem;
  }
  .navbar-vertical.navbar-expand-sm .navbar-nav > .nav-item .icon .ni {
    top: 0;
  }
  .navbar-vertical.navbar-expand-sm .lavalamp-object {
    width: calc(100% - 1rem) !important;
    background: theme-color("primary");
    color: color-yiq(#e91e63);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.125rem;
  }
  .navbar-vertical.navbar-expand-sm .navbar-nav .nav .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 15px;
  }
  .navbar-vertical.navbar-expand-sm .navbar-nav .nav .nav-link > span.sidenav-normal {
    transition: all 0.1s ease 0s;
  }
  .navbar-vertical.navbar-expand-sm .navbar-nav .nav .nav-link.active {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
@media (min-width: 768px) {
  .navbar-vertical.navbar-expand-md {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 15.625rem !important;
    overflow-y: auto;
    padding: 0;
    box-shadow: none;
  }
  .navbar-vertical.navbar-expand-md .navbar-collapse {
    display: block;
    overflow: auto;
    height: calc(100vh - 360px);
  }
  .navbar-vertical.navbar-expand-md > [class*=container] {
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) and (-ms-high-contrast: none), (min-width: 768px) and (-ms-high-contrast: active) {
  .navbar-vertical.navbar-expand-md > [class*=container] {
    min-height: none;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .navbar-vertical.navbar-expand-md.fixed-start {
    left: 0;
  }
  .navbar-vertical.navbar-expand-md.fixed-end {
    right: 0;
  }
  .navbar-vertical.navbar-expand-md .navbar-nav .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin: 0 1rem;
    margin-bottom: 1.5px;
  }
  .navbar-vertical.navbar-expand-md .navbar-nav .nav-link .nav-link-text,
  .navbar-vertical.navbar-expand-md .navbar-nav .nav-link .sidenav-mini-icon,
  .navbar-vertical.navbar-expand-md .navbar-nav .nav-link .sidenav-normal,
  .navbar-vertical.navbar-expand-md .navbar-nav .nav-link i {
    pointer-events: none;
  }
  .navbar-vertical.navbar-expand-md .navbar-nav .nav-item {
    width: 100%;
  }
  .navbar-vertical.navbar-expand-md .navbar-nav > .nav-item {
    margin-top: 0.125rem;
  }
  .navbar-vertical.navbar-expand-md .navbar-nav > .nav-item .icon .ni {
    top: 0;
  }
  .navbar-vertical.navbar-expand-md .lavalamp-object {
    width: calc(100% - 1rem) !important;
    background: theme-color("primary");
    color: color-yiq(#e91e63);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.125rem;
  }
  .navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 15px;
  }
  .navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link > span.sidenav-normal {
    transition: all 0.1s ease 0s;
  }
  .navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link.active {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
@media (min-width: 992px) {
  .navbar-vertical.navbar-expand-lg {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 15.625rem !important;
    overflow-y: auto;
    padding: 0;
    box-shadow: none;
  }
  .navbar-vertical.navbar-expand-lg .navbar-collapse {
    display: block;
    overflow: auto;
    height: calc(100vh - 360px);
  }
  .navbar-vertical.navbar-expand-lg > [class*=container] {
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 992px) and (-ms-high-contrast: none), (min-width: 992px) and (-ms-high-contrast: active) {
  .navbar-vertical.navbar-expand-lg > [class*=container] {
    min-height: none;
    height: 100%;
  }
}
@media (min-width: 992px) {
  .navbar-vertical.navbar-expand-lg.fixed-start {
    left: 0;
  }
  .navbar-vertical.navbar-expand-lg.fixed-end {
    right: 0;
  }
  .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin: 0 1rem;
    margin-bottom: 1.5px;
  }
  .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link .nav-link-text,
  .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link .sidenav-mini-icon,
  .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link .sidenav-normal,
  .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link i {
    pointer-events: none;
  }
  .navbar-vertical.navbar-expand-lg .navbar-nav .nav-item {
    width: 100%;
  }
  .navbar-vertical.navbar-expand-lg .navbar-nav > .nav-item {
    margin-top: 0.125rem;
  }
  .navbar-vertical.navbar-expand-lg .navbar-nav > .nav-item .icon .ni {
    top: 0;
  }
  .navbar-vertical.navbar-expand-lg .lavalamp-object {
    width: calc(100% - 1rem) !important;
    background: theme-color("primary");
    color: color-yiq(#e91e63);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.125rem;
  }
  .navbar-vertical.navbar-expand-lg .navbar-nav .nav .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 15px;
  }
  .navbar-vertical.navbar-expand-lg .navbar-nav .nav .nav-link > span.sidenav-normal {
    transition: all 0.1s ease 0s;
  }
  .navbar-vertical.navbar-expand-lg .navbar-nav .nav .nav-link.active {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
@media (min-width: 1200px) {
  .navbar-vertical.navbar-expand-xl {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 15.625rem !important;
    overflow-y: auto;
    padding: 0;
    box-shadow: none;
  }
  .navbar-vertical.navbar-expand-xl .navbar-collapse {
    display: block;
    overflow: auto;
    height: calc(100vh - 360px);
  }
  .navbar-vertical.navbar-expand-xl > [class*=container] {
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) and (-ms-high-contrast: none), (min-width: 1200px) and (-ms-high-contrast: active) {
  .navbar-vertical.navbar-expand-xl > [class*=container] {
    min-height: none;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .navbar-vertical.navbar-expand-xl.fixed-start {
    left: 0;
  }
  .navbar-vertical.navbar-expand-xl.fixed-end {
    right: 0;
  }
  .navbar-vertical.navbar-expand-xl .navbar-nav .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin: 0 1rem;
    margin-bottom: 1.5px;
  }
  .navbar-vertical.navbar-expand-xl .navbar-nav .nav-link .nav-link-text,
  .navbar-vertical.navbar-expand-xl .navbar-nav .nav-link .sidenav-mini-icon,
  .navbar-vertical.navbar-expand-xl .navbar-nav .nav-link .sidenav-normal,
  .navbar-vertical.navbar-expand-xl .navbar-nav .nav-link i {
    pointer-events: none;
  }
  .navbar-vertical.navbar-expand-xl .navbar-nav .nav-item {
    width: 100%;
  }
  .navbar-vertical.navbar-expand-xl .navbar-nav > .nav-item {
    margin-top: 0.125rem;
  }
  .navbar-vertical.navbar-expand-xl .navbar-nav > .nav-item .icon .ni {
    top: 0;
  }
  .navbar-vertical.navbar-expand-xl .lavalamp-object {
    width: calc(100% - 1rem) !important;
    background: theme-color("primary");
    color: color-yiq(#e91e63);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.125rem;
  }
  .navbar-vertical.navbar-expand-xl .navbar-nav .nav .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 15px;
  }
  .navbar-vertical.navbar-expand-xl .navbar-nav .nav .nav-link > span.sidenav-normal {
    transition: all 0.1s ease 0s;
  }
  .navbar-vertical.navbar-expand-xl .navbar-nav .nav .nav-link.active {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
@media (min-width: 1400px) {
  .navbar-vertical.navbar-expand-xxl {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 15.625rem !important;
    overflow-y: auto;
    padding: 0;
    box-shadow: none;
  }
  .navbar-vertical.navbar-expand-xxl .navbar-collapse {
    display: block;
    overflow: auto;
    height: calc(100vh - 360px);
  }
  .navbar-vertical.navbar-expand-xxl > [class*=container] {
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1400px) and (-ms-high-contrast: none), (min-width: 1400px) and (-ms-high-contrast: active) {
  .navbar-vertical.navbar-expand-xxl > [class*=container] {
    min-height: none;
    height: 100%;
  }
}
@media (min-width: 1400px) {
  .navbar-vertical.navbar-expand-xxl.fixed-start {
    left: 0;
  }
  .navbar-vertical.navbar-expand-xxl.fixed-end {
    right: 0;
  }
  .navbar-vertical.navbar-expand-xxl .navbar-nav .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin: 0 1rem;
    margin-bottom: 1.5px;
  }
  .navbar-vertical.navbar-expand-xxl .navbar-nav .nav-link .nav-link-text,
  .navbar-vertical.navbar-expand-xxl .navbar-nav .nav-link .sidenav-mini-icon,
  .navbar-vertical.navbar-expand-xxl .navbar-nav .nav-link .sidenav-normal,
  .navbar-vertical.navbar-expand-xxl .navbar-nav .nav-link i {
    pointer-events: none;
  }
  .navbar-vertical.navbar-expand-xxl .navbar-nav .nav-item {
    width: 100%;
  }
  .navbar-vertical.navbar-expand-xxl .navbar-nav > .nav-item {
    margin-top: 0.125rem;
  }
  .navbar-vertical.navbar-expand-xxl .navbar-nav > .nav-item .icon .ni {
    top: 0;
  }
  .navbar-vertical.navbar-expand-xxl .lavalamp-object {
    width: calc(100% - 1rem) !important;
    background: theme-color("primary");
    color: color-yiq(#e91e63);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.125rem;
  }
  .navbar-vertical.navbar-expand-xxl .navbar-nav .nav .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 15px;
  }
  .navbar-vertical.navbar-expand-xxl .navbar-nav .nav .nav-link > span.sidenav-normal {
    transition: all 0.1s ease 0s;
  }
  .navbar-vertical.navbar-expand-xxl .navbar-nav .nav .nav-link.active {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.sidenav[data-color=primary] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item.active .nav-link.active, .sidenav[data-color=primary] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item.active .nav-link.active {
  background-image: linear-gradient(195deg, #e91e63 0%, #e91e63 100%);
}
.sidenav[data-color=primary] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=primary] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active {
  background-color: rgba(199, 199, 199, 0.2);
}
.sidenav[data-color=primary] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=primary] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active + .collapse .nav-item .nav-link.active {
  background-image: linear-gradient(195deg, #e91e63 0%, #e91e63 100%);
}
.sidenav[data-color=secondary] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item.active .nav-link.active, .sidenav[data-color=secondary] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item.active .nav-link.active {
  background-image: linear-gradient(195deg, #7b809a 0%, #7b809a 100%);
}
.sidenav[data-color=secondary] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=secondary] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active {
  background-color: rgba(199, 199, 199, 0.2);
}
.sidenav[data-color=secondary] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=secondary] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active + .collapse .nav-item .nav-link.active {
  background-image: linear-gradient(195deg, #7b809a 0%, #7b809a 100%);
}
.sidenav[data-color=success] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item.active .nav-link.active, .sidenav[data-color=success] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item.active .nav-link.active {
  background-image: linear-gradient(195deg, #4caf50 0%, #4caf50 100%);
}
.sidenav[data-color=success] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=success] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active {
  background-color: rgba(199, 199, 199, 0.2);
}
.sidenav[data-color=success] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=success] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active + .collapse .nav-item .nav-link.active {
  background-image: linear-gradient(195deg, #4caf50 0%, #4caf50 100%);
}
.sidenav[data-color=info] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item.active .nav-link.active, .sidenav[data-color=info] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item.active .nav-link.active {
  background-image: linear-gradient(195deg, #1a73e8 0%, #1a73e8 100%);
}
.sidenav[data-color=info] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=info] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active {
  background-color: rgba(199, 199, 199, 0.2);
}
.sidenav[data-color=info] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=info] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active + .collapse .nav-item .nav-link.active {
  background-image: linear-gradient(195deg, #1a73e8 0%, #1a73e8 100%);
}
.sidenav[data-color=warning] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item.active .nav-link.active, .sidenav[data-color=warning] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item.active .nav-link.active {
  background-image: linear-gradient(195deg, #fb8c00 0%, #fb8c00 100%);
}
.sidenav[data-color=warning] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=warning] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active {
  background-color: rgba(199, 199, 199, 0.2);
}
.sidenav[data-color=warning] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=warning] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active + .collapse .nav-item .nav-link.active {
  background-image: linear-gradient(195deg, #fb8c00 0%, #fb8c00 100%);
}
.sidenav[data-color=danger] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item.active .nav-link.active, .sidenav[data-color=danger] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item.active .nav-link.active {
  background-image: linear-gradient(195deg, #f44335 0%, #f44335 100%);
}
.sidenav[data-color=danger] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=danger] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active {
  background-color: rgba(199, 199, 199, 0.2);
}
.sidenav[data-color=danger] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=danger] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active + .collapse .nav-item .nav-link.active {
  background-image: linear-gradient(195deg, #f44335 0%, #f44335 100%);
}
.sidenav[data-color=light] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item.active .nav-link.active, .sidenav[data-color=light] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item.active .nav-link.active {
  background-image: linear-gradient(195deg, #f0f2f5 0%, #f0f2f5 100%);
}
.sidenav[data-color=light] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=light] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active {
  background-color: rgba(199, 199, 199, 0.2);
}
.sidenav[data-color=light] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=light] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active + .collapse .nav-item .nav-link.active {
  background-image: linear-gradient(195deg, #f0f2f5 0%, #f0f2f5 100%);
}
.sidenav[data-color=dark] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item.active .nav-link.active, .sidenav[data-color=dark] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item.active .nav-link.active {
  background-image: linear-gradient(195deg, #344767 0%, #344767 100%);
}
.sidenav[data-color=dark] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=dark] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active {
  background-color: rgba(199, 199, 199, 0.2);
}
.sidenav[data-color=dark] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=dark] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active + .collapse .nav-item .nav-link.active {
  background-image: linear-gradient(195deg, #344767 0%, #344767 100%);
}
.sidenav[data-color=white] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item.active .nav-link.active, .sidenav[data-color=white] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item.active .nav-link.active {
  background-image: linear-gradient(195deg, #fff 0%, #fff 100%);
}
.sidenav[data-color=white] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=white] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active {
  background-color: rgba(199, 199, 199, 0.2);
}
.sidenav[data-color=white] .navbar-nav > .nav-item .nav-link.active + .collapse .nav-item .nav-link.active + .collapse .nav-item .nav-link.active, .sidenav[data-color=white] .navbar-nav > .nav-item .nav-link.active + .collapsing .nav-item .nav-link.active + .collapse .nav-item .nav-link.active {
  background-image: linear-gradient(195deg, #fff 0%, #fff 100%);
}

.main-content,
.sidenav {
  transition: all 0.2s ease-in-out;
}

.sidenav {
  z-index: 999;
}
.sidenav .navbar-brand,
.sidenav .navbar-heading {
  display: block;
}
@media (min-width: 1200px) {
  .sidenav:hover {
    max-width: 15.625rem;
  }
  .sidenav .sidenav-toggler {
    padding: 1.5rem;
  }
  .sidenav.fixed-start + .main-content {
    margin-left: 17.125rem;
  }
  .sidenav.fixed-end + .main-content {
    margin-right: 17.125rem;
  }
}
.sidenav .navbar-heading .docs-mini {
  padding-left: 3px;
}
.sidenav .navbar-heading {
  transition: all 0.1s ease;
}
.sidenav .navbar-brand {
  padding: 1.5rem 2rem;
}
.sidenav .collapse .nav-item .nav-link.active {
  color: #fff !important;
}
.sidenav .collapse .nav-item .nav-link.active i {
  color: #fff !important;
}

.sidenav-header {
  height: 7.3125rem;
}

.g-sidenav-show .sidenav .nav-item .collapse {
  height: auto;
  transition: all 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .g-sidenav-show .sidenav .nav-item .collapse {
    transition: none;
  }
}
.g-sidenav-show .sidenav .nav-link-text {
  transition: 0.3s ease;
  opacity: 1;
}
.g-sidenav-show.rtl .navbar-vertical .navbar-nav .nav-link[data-bs-toggle=collapse]:after {
  margin-left: 0;
}

@media (max-width: 1199.98px) {
  .g-sidenav-show.rtl .sidenav {
    transform: translateX(17.125rem);
  }
  .g-sidenav-show:not(.rtl) .sidenav {
    transform: translateX(-17.125rem);
  }
  .g-sidenav-show .sidenav.fixed-start + .main-content {
    margin-left: 0 !important;
  }
  .g-sidenav-show.g-sidenav-pinned .sidenav {
    transform: translateX(0);
  }
}
.font-weight-bold {
  font-weight: 600 !important;
}

.border-radius-xl {
  border-radius: 0.75rem;
}