@each $color, $value in $theme-colors {
  .btn-#{$color},
  .btn.bg-gradient-#{$color} {
    @include colored-shadows($value);

    @include hover {
      background-color: $value;
      border-color: $value;

      @include colored-shadows-hover($value);
    }

    .btn.bg-outline-#{$color} {
      border: $border-width solid $value;
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show > &.dropdown-toggle {
      color: color-yiq($value);
      background-color: $value;
    }

    @if $value != $white and $value != $light {
      &.focus,
      &:focus {
        color: $white;
      }
    }
  }

  .btn-outline-#{$color} {
    box-shadow: none;
    @include hover {
      &:not(.active) {
        background-color: transparent;
        opacity: 0.75;
        box-shadow: none;
        color: $value;
      }
    }
  }
}
