@import "mixins/_gradients";
// .bg-gradient-dark {
//   background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
// }

@each $prop, $value in $theme-gradient-colors {
  .bg-gradient-#{$prop} {
    @include gradient-directional(nth($value, 1) 0%, nth($value, -1) 100%, $deg: 195deg);
  }
}
