@import "mixins/_functions";

$font-color: #7b809a !default;
$h-color: #344767 !default;

// Color system
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f0f2f5 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// fusv-enable
$blue: #63b3ed !default;
$indigo: #596cff !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #f56565 !default;
$rose: #e91e63 !default;
$orange: #fd7e14 !default;
$yellow: #fbd38d !default;
$green: #81e6d9 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

// scss-docs-start colors-map
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
) !default;
// scss-docs-end colors-map

$primary: #e91e63 !default;
$secondary: #7b809a !default;
$info: #1a73e8 !default;
$success: #4caf50 !default;
$warning: #fb8c00 !default;
$danger: #f44335 !default;
$light: $gray-200 !default;
$dark: $h-color !default;

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "white": $white,
) !default;
// scss-docs-end theme-colors-map

// Gradient colors
$primary-gradient: #ec407a !default;
$primary-gradient-state: #d81b60 !default;

$secondary-gradient: #747b8a !default;
$secondary-gradient-state: #495361 !default;

$info-gradient: #49a3f1 !default;
$info-gradient-state: #1a73e8 !default;

$success-gradient: #66bb6a !default;
$success-gradient-state: #43a047 !default;

$danger-gradient: #ef5350 !default;
$danger-gradient-state: #e53935 !default;

$warning-gradient: #ffa726 !default;
$warning-gradient-state: #fb8c00 !default;

$dark-gradient: #42424a !default;
$dark-gradient-state: #191919 !default;

$light-gradient: #ebeff4 !default;
$light-gradient-state: #ced4da !default;

$dark-gradient-dark: #323a54 !default;
$dark-gradient-state-dark: #1a2035 !default;

// Gradient Colors map
$theme-gradient-colors: (
  "primary": (
    $primary-gradient,
    $primary-gradient-state,
  ),
  "secondary": (
    $secondary-gradient,
    $secondary-gradient-state,
  ),
  "success": (
    $success-gradient,
    $success-gradient-state,
  ),
  "info": (
    $info-gradient,
    $info-gradient-state,
  ),
  "warning": (
    $warning-gradient,
    $warning-gradient-state,
  ),
  "danger": (
    $danger-gradient,
    $danger-gradient-state,
  ),
  "light": (
    $light-gradient,
    $light-gradient-state,
  ),
  "dark": (
    $dark-gradient,
    $dark-gradient-state,
  ),
) !default;

// Options
// Quickly modify global styling by enabling or disabling optional features.
$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-reduced-motion: true !default;
$enable-grid-classes: true !default;
$enable-button-pointers: true !default;
$enable-rfs: true !default;
$enable-validation-icons: true !default;
$enable-negative-margins: true !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities: true !default;

// Body
// Settings for the `<body>` element.
$body-bg: $white !default;
$body-color: $font-color !default;
$body-text-align: null !default;

// Grid breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;
// scss-docs-end grid-breakpoints

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Components
// Define common padding and border radius sizes and more.
$border-width: 1px !default;
$border-color: $gray-300 !default;

$border-radius-xs: 0.1rem !default;
$border-radius-sm: 0.125rem !default;
$border-radius-md: 0.375rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-xl: 0.75rem !default;
$border-radius-2xl: 1rem !default;
$border-radius-section: 10rem !default;

$border-widths: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
) !default;

$rounded-pill: 50rem !default;

$box-shadow-xs: 0 2px 9px -5px rgba($black, 0.15) !default;
$box-shadow-sm: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12) !default;
$box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !default;
$box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !default;
$box-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !default;
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075) !default;

// colored Shadows
$box-shadow-primary: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4) !default;
$box-shadow-secondary: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(210, 210, 210, 0.4) !default;
$box-shadow-info: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4) !default;
$box-shadow-warning: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4) !default;
$box-shadow-success: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4) !default;
$box-shadow-danger: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4) !default;
$box-shadow-dark: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(64, 64, 64, 0.4) !default;
$box-shadow-light: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4) !default;

$component-active-color: $white !default;
$component-active-bg: $primary !default;

$caret-width: 0.3em !default;
$caret-vertical-align: $caret-width * 0.85 !default;
$caret-spacing: $caret-width * 0.85 !default;

$transition-base: all 0.2s ease-in-out !default;
$transition-fade: opacity 0.15s linear !default;
$transition-collapse: height 0.35s ease !default;
$transition-material: all 0.3s ease !default;

// Spacing
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 6,
  8: $spacer * 8,
  9: $spacer * 10,
  10: $spacer * 12,
  11: $spacer * 14,
  12: $spacer * 16,
) !default;

// Typography
// Font, line-height, and color for body text, headings, and more.

// $font-size-root effects the value of `rem`, which is used for as well font sizes, paddings and margins
// $font-size-base effects the font size of the body text
$font-size-root: null !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-xxs: $font-size-base * 0.65 !default;
$font-size-xs: $font-size-base * 0.75 !default;
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.125 !default;
$font-size-xl: $font-size-base * 1.25 !default;
$font-size-2xl: $font-size-base * 1.5 !default;
$font-size-3xl: $font-size-base * 1.875 !default;
$font-size-4xl: $font-size-base * 2 !default;
$font-size-5xl: $font-size-base * 2.25 !default;
$font-size-6xl: $font-size-base * 3 !default;
$font-size-7xl: $font-size-base * 3.75 !default;
$font-size-8xl: $font-size-base * 4 !default;
$font-size-9xl: $font-size-base * 5 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;
$font-weight-bolder: 700 !default;

$font-weight-base: $font-weight-normal !default;

$h1-font-weight: $font-weight-bold !default;
$h2-font-weight: $font-weight-bold !default;
$h3-font-weight: $font-weight-bold !default;
$h4-font-weight: $font-weight-bold !default;
$h5-font-weight: $font-weight-bold !default;
$h6-font-weight: $font-weight-bold !default;
$p-font-weight: $font-weight-normal !default;
$lead-font-weight: $font-weight-normal !default;
$text-sm-font-weight: $font-weight-normal !default;
$text-xs-font-weight: $font-weight-normal !default;

$line-height: 1.75rem !default;
$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$h1-line-height: 1.25 !default;
$h2-line-height: 1.3 !default;
$h3-line-height: 1.375 !default;
$h4-line-height: 1.375 !default;
$h5-line-height: 1.375 !default;
$h6-line-height: 1.625 !default;
$p-line-height: 1.6 !default;
$lead-line-height: 1.625 !default;
$text-sm-line-height: 1.5 !default;
$text-xs-line-height: 1.25 !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size: $font-size-base * 3 !default;
$h2-font-size: $font-size-base * 2.25 !default;
$h3-font-size: $font-size-base * 1.875 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
$lead-font-size: $font-size-base * 1.25 !default;

$text-sm-font-size: 0.875rem !default;
$text-xs-font-size: 0.75rem !default;
$p-font-size: 1rem !default;

$headings-margin-bottom: $spacer / 2 !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-font-weight: 400 !default;
$headings-line-height: 1.2 !default;
$headings-color: #344767 !default;

// Dropdowns
// Dropdown menu container and contents.
$dropdown-min-width: 11rem !default;
$dropdown-padding-x: 0 !default;
$dropdown-padding-y: 0.5rem !default;
$dropdown-spacer: 1.625rem !default;
$dropdown-font-size: $font-size-sm !default;
$dropdown-color: $body-color !default;
$dropdown-bg: $white !default;
$dropdown-border-color: transparent !default;
$dropdown-border-radius: $border-radius-md !default;
$dropdown-border-width: 0 !default;
$dropdown-inner-border-radius: subtract($dropdown-border-radius, $dropdown-border-width) !default;
$dropdown-transition-time: 0.3s ease !default;
$dropdown-divider-bg: $dropdown-border-color !default;
$dropdown-divider-margin-y: $spacer / 2 !default;
$dropdown-box-shadow: $box-shadow-lg !default;

$dropdown-link-color: $font-color !default;
$dropdown-link-hover-color: $h-color !default;
$dropdown-link-hover-bg: $gray-200 !default;

$dropdown-link-active-color: $font-color !default;
$dropdown-link-active-bg: transparent !default;

$dropdown-link-disabled-color: $gray-600 !default;

$dropdown-item-padding-y: 0.3rem !default;
$dropdown-item-padding-x: $spacer !default;

$dropdown-header-color: $gray-600 !default;
$dropdown-header-padding: $dropdown-padding-y $dropdown-item-padding-x !default;

$dropdown-dark-color: $gray-300 !default;
$dropdown-dark-bg: $gray-800 !default;
$dropdown-dark-border-color: $dropdown-border-color !default;
$dropdown-dark-divider-bg: $dropdown-divider-bg !default;
$dropdown-dark-box-shadow: null !default;
$dropdown-dark-link-color: $dropdown-dark-color !default;
$dropdown-dark-link-hover-color: $white !default;
$dropdown-dark-link-hover-bg: rgba($white, 0.15) !default;
$dropdown-dark-link-active-color: $dropdown-link-active-color !default;
$dropdown-dark-link-active-bg: $dropdown-link-active-bg !default;
$dropdown-dark-link-disabled-color: $gray-500 !default;
$dropdown-dark-header-color: $gray-500 !default;

// Navs
$nav-link-padding-y: 0.5rem !default;
$nav-link-padding-x: 1rem !default;
$nav-link-font-size: null !default;
$nav-link-font-weight: null !default;
$nav-link-color: null !default;
$nav-link-hover-color: null !default;
$nav-link-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !default;
$nav-link-disabled-color: $gray-600 !default;
$nav-link-footer-padding: 0.25rem !default;

$nav-tabs-border-color: $gray-300 !default;
$nav-tabs-border-width: $border-width !default;
$nav-tabs-border-radius: $border-radius-md !default;
$nav-tabs-link-hover-border-color: $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $gray-700 !default;
$nav-tabs-link-active-bg: $body-bg !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;

$nav-pills-border-radius: 0.75rem !default;
$nav-pills-link-active-color: $dark !default;
$nav-pills-link-active-bg: $white !default;
$nav-pills-link-transition: background-color 0.3s ease !default;
$nav-pills-background: $gray-100 !default;
$nav-pills-vertical-background: transparent !default;
$nav-pills-vertical-radius: 1.1875rem !default;
$nav-pills-vertical-link-radius: 0.875rem !default;
